@model CMSPlus.Domain.Models.TopicModels.TopicDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.CreatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label for="FullName" class="form-label">Full name</label>
                <input type="text" class="form-control" id="FullName" placeholder="John Doe">
            </div>
            <div class="mb-3">
                <label for="Comment" class="form-label">Comment</label>
                <textarea class="form-control" id="Comment" rows="3"></textarea>
            </div>
        </div>
        <div class="card-footer"><button type="button" class="btn btn-primary">Add comment</button></div>
    </div>

</div>
